<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dziękujemy za zapisanie się do newslettera</h1>
    <p>
      Jako jeden/jedna z pierwszych dowiesz się o starcie najlepszego studenckiego portalu w Krakowie!
    </p>
    <br />
    <p>
      Pozdrawiamy,<br/>
      Zespół College City
    </p>    
  </body>
</html>
